<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
   
</head>
<body>
        <%include partials/navigation.ejs %>
    <h1>Profile page</h1>
    <p>Welcome to <%=personName%> profile page</p>
    
   
    <ul>
        <li><span> Age : <%=data.age%> </span>

        </li>
        <li>
            <span> Location : <%=data.location%> </span>
        </li>
    </ul>
<ol> Hobbies
    <%data.hobbies.forEach(function(hob){ %>
        <li>  <%=hob%> </li>
   <% })%>
</ol>
</body>
</html>